<!DOCTYPE html>
<html>
    <head>
        <title>Seth's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Seth's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>I like Pink Floyd.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>I do not like Cher.</p>
        </article>
    </body>
</html>